[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tensorflow = "*"
pillow = "*"
"beautifulsoup4" = "*"
imageio = "*"
matplotlib = "*"
apache-beam = {version = "*", extras = ["gcp"]}
tfx = "*"

[requires]
python_version = "3.6"
