[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
beautifulsoup4 = "*"
imageio = "*"
matplotlib = "*"
sklearn = "*"
tensorflow-gpu = "==2.2.0"
tensorboard-plugin-profile = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.apache-beam]
extras = [ "gcp",]
